<form id="form">
    <div class="form-group">
        <label for="email">Your Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name" name="">
    </div>
    <div class="form-group">
        <label for="pwd">Email ID:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email ID" name="">
    </div>
    <div class="form-group">
        <label for="pwd">Mobie No:</label>
        <input type="number" class="form-control" id="mobile" placeholder="Enter Mobile No" name="">
    </div>
    <div class="form-group">
        <label for="pwd">Location:</label>
        <input type="text" class="form-control" id="location" placeholder="Enter Location" name="">
    </div>
    <button type="submit" class="btn btn-primary" id="btn" style="float:right">Submit</button>
</form>