<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="main">
        <header>
        <%- include('partials/header.ejs') %>
        </header>
        <div class="container">
            <h1><%=question%></h1>
        </div>
        <footer>
        <%- include('partials/footer.ejs') %>  
        </footer>
    </div>
</body>
</html>